<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Exercise37_01</servlet-name>
        <servlet-class>chapter37.Exercise37_01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise37_02</servlet-name>
        <servlet-class>chapter37.Exercise37_02</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise37_03a</servlet-name>
        <servlet-class>chapter37.Exercise37_03a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise37_03b</servlet-name>
        <servlet-class>chapter37.Exercise37_03b</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise37_04</servlet-name>
        <servlet-class>chapter37.Exercise37_04</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise37_05</servlet-name>
        <servlet-class>chapter37.Exercise37_05</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise37_06</servlet-name>
        <servlet-class>chapter37.Exercise37_06</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise37_08</servlet-name>
        <servlet-class>chapter37.Exercise37_08</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise37_07</servlet-name>
        <servlet-class>chapter37.Exercise37_07</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise37_09</servlet-name>
        <servlet-class>chapter37.Exercise37_09</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise37_10</servlet-name>
        <servlet-class>chapter37.Exercise37_10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise37_11</servlet-name>
        <servlet-class>chapter37.Exercise37_11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise37_14</servlet-name>
        <servlet-class>chapter37.Exercise37_14</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise37_12</servlet-name>
        <servlet-class>chapter37.Exercise37_12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise37_13</servlet-name>
        <servlet-class>chapter37.Exercise37_13</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Exercise37_01</servlet-name>
        <url-pattern>/Exercise37_01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise37_02</servlet-name>
        <url-pattern>/Exercise37_02</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise37_03a</servlet-name>
        <url-pattern>/Exercise37_03a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise37_03b</servlet-name>
        <url-pattern>/Exercise37_03b</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise37_04</servlet-name>
        <url-pattern>/Exercise37_04</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise37_05</servlet-name>
        <url-pattern>/Exercise37_05</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise37_06</servlet-name>
        <url-pattern>/Exercise37_06</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise37_08</servlet-name>
        <url-pattern>/Exercise37_08</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise37_07</servlet-name>
        <url-pattern>/Exercise37_07</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise37_09</servlet-name>
        <url-pattern>/Exercise37_09</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise37_10</servlet-name>
        <url-pattern>/Exercise37_10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise37_11</servlet-name>
        <url-pattern>/Exercise37_11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise37_12</servlet-name>
        <url-pattern>/Exercise37_12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise37_14</servlet-name>
        <url-pattern>/Exercise37_14</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise37_13</servlet-name>
        <url-pattern>/Exercise37_13</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
